* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

body {
    min-height: 100vh;
}

.player {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;
    height: 100dvh;

    background: #000;
    overflow: hidden;
}

#liveFrame {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    background: #000;

    display: block;
}



